<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Extracts</title>

    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  </head>
  <body>
    
    
    <div class="extracts-page">
      <div class="page-title">
        <h2>extracts</h2>
      </div>
      <div class="extracts-detail">
        <div class="extracts-boxis left-extracts">
          <h2 class="title"><span>vapes</span></h2>


          <!--      VAPES -->
          {% for vape in vapes %}
              <p>{{ vape.name }}<span>{{ vape.get_price() }}</span></p>
          {%  endfor %}

          <h2 class="title"><span>syringes</span></h2>

          {% for syringe in syringes %}
              <p>{{ syringe.name }}<span>{{ syringe.price }}</span></p>
          {%  endfor %}


          <!--
          <p>BAM Rosin Rockets: Blue Gorilla<span>$14</span></p>
          <p>BAM Rosin Rockets: Forum Sin Mint Cookies<span>$14</span></p>
          <p>BAM Rosin Rockets: Key Lime Gorilla<span>$14</span></p>
          <p>BAM Rosin Rockets: Blue Gorilla<span>$14</span></p>
          <p>BAM Rosin Rockets: Forum Sin Mint Cookies<span>$14</span></p>

          -->
          <h2 class="title"><span>accessories</span></h2>

          {% for accessorie in accessories %}
              <p>{{ accessorie.name }}<span>{{ accessorie.price }}</span></p>
          {%  endfor %}
          <!--
          <p>BAM Rosin Rockets: Blue Gorilla<span>$14</span></p>
          <p>BAM Rosin Rockets: Forum Sin Mint Cookies<span>$14</span></p>
          <p>BAM Rosin Rockets: Key Lime Gorilla<span>$14</span></p>
          <p>BAM Rosin Rockets: Blue Gorilla<span>$14</span></p>
          -->
        </div>



          <div class="extracts-boxis center-extracts">
          <h2 class="title"><span>concentrates</span></h2>
          {% for concentrate in concentrates %}
              <p>{{ concentrate.name }}<span>{{ concentrate.price }}</span></p>
          {%  endfor %}
            <!--
          <p>BAM Rosin Rockets: Blue Gorilla<span>$14</span></p>
          <p>BAM Rosin Rockets: Forum Sin Mint Cookies<span>$14</span></p>
          <p>BAM Rosin Rockets: Key Lime Gorilla<span>$14</span></p>
          <p>BAM Rosin Rockets: Blue Gorilla<span>$14</span></p>
          <p>BAM Rosin Rockets: Forum Sin Mint Cookies<span>$14</span></p>
          <p>BAM Rosin Rockets: Key Lime Gorilla<span>$14</span></p>
          <p>BAM Rosin Rockets: Blue Gorilla<span>$14</span></p>
          <p>BAM Rosin Rockets: Forum Sin Mint Cookies<span>$14</span></p>
          <p>BAM Rosin Rockets: Key Lime Gorilla<span>$14</span></p>
          <p>BAM Rosin Rockets: Blue Gorilla<span>$14</span></p>
          <p>BAM Rosin Rockets: Forum Sin Mint Cookies<span>$14</span></p>
          <p>BAM Rosin Rockets: Key Lime Gorilla<span>$14</span></p>
          <p>BAM Rosin Rockets: Forum Sin Mint Cookies<span>$14</span></p>
          <p>BAM Rosin Rockets: Key Lime Gorilla<span>$14</span></p>
          <p>BAM Rosin Rockets: Blue Gorilla<span>$14</span></p>
          <p>BAM Rosin Rockets: Forum Sin Mint Cookies<span>$14</span></p>
          <p>BAM Rosin Rockets: Key Lime Gorilla<span>$14</span></p>
          <p>BAM Rosin Rockets: Blue Gorilla<span>$14</span></p>
          <p>BAM Rosin Rockets: Forum Sin Mint Cookies<span>$14</span></p>
          <p>BAM Rosin Rockets: Key Lime Gorilla<span>$14</span></p>
          <p>BAM Rosin Rockets: Key Lime Gorilla<span>$14</span></p>
          <p>BAM Rosin Rockets: Blue Gorilla<span>$14</span></p>
          <p>BAM Rosin Rockets: Forum Sin Mint Cookies<span>$14</span></p>
          <p>BAM Rosin Rockets: Key Lime Gorilla<span>$14</span></p>
          -->
        </div>

        <div class="extracts-boxis right-extracts">
          <h2 class="title"><span>other</span></h2>
          {% for others in other %}
              <p>{{ others.name }}<span>{{ others.price }}</span></p>
          {%  endfor %}
          <!--
          <p>BAM Rosin Rockets: Blue Gorilla<span>$14</span></p>
          <p>BAM Rosin Rockets: Forum Sin Mint Cookies<span>$14</span></p>
          <p>BAM Rosin Rockets: Key Lime Gorilla<span>$14</span></p>
          <p>BAM Rosin Rockets: Blue Gorilla<span>$14</span></p>
          <p>BAM Rosin Rockets: Forum Sin Mint Cookies<span>$14</span></p>
          <p>BAM Rosin Rockets: Key Lime Gorilla<span>$14</span></p>
          <p>BAM Rosin Rockets: Blue Gorilla<span>$14</span></p>
          <p>BAM Rosin Rockets: Forum Sin Mint Cookies<span>$14</span></p>
          <p>BAM Rosin Rockets: Key Lime Gorilla<span>$14</span></p>
          <p>BAM Rosin Rockets: Blue Gorilla<span>$14</span></p>
          <p>BAM Rosin Rockets: Forum Sin Mint Cookies<span>$14</span></p>
          <p>BAM Rosin Rockets: Key Lime Gorilla<span>$14</span></p>
          <p>BAM Rosin Rockets: Blue Gorilla<span>$14</span></p>
          <p>BAM Rosin Rockets: Forum Sin Mint Cookies<span>$14</span></p>
          <p>BAM Rosin Rockets: Key Lime Gorilla<span>$14</span></p>

          -->
          <h2 class="title"><span>cat 4</span></h2>
          {% for cats in cat %}
              <p>{{ cats.name }}<span>{{ cats.price }}</span></p>
          {%  endfor %}
          <!--
          <p>BAM Rosin Rockets: Blue Gorilla<span>$14</span></p>
          <p>BAM Rosin Rockets: Forum Sin Mint Cookies<span>$14</span></p>
          <p>BAM Rosin Rockets: Key Lime Gorilla<span>$14</span></p>
          <p>BAM Rosin Rockets: Blue Gorilla<span>$14</span></p>
          <p>BAM Rosin Rockets: Forum Sin Mint Cookies<span>$14</span></p>
          <p>BAM Rosin Rockets: Key Lime Gorilla<span>$14</span></p>
          <p>BAM Rosin Rockets: Blue Gorilla<span>$14</span></p>
          <p>BAM Rosin Rockets: Forum Sin Mint Cookies<span>$14</span></p>
        -->
        </div>

      </div>
      <div class="border-bottom"></div>
    </div>


  </body>
</html>














