<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flower</title>

    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  </head>
  <body>
    
    
    <div class="flower-page">
        <div class="left-part">
          <h2 class="title"><span>value shelf</span></h2>
          <div class="prige">
            <p><span>1G</span>$12</p>
            <p><span>1/8</span>$30</p>
            <p><span>1/4</span>$55</p>
            <p><span>1/2</span>$105</p>
            <p><span>OZ</span>$200</p>
          </div>
          <div class="value-bottom">
            <p>Fluffhead Kush</p>
            <p>Pootie Tang</p>
            <p>Snowdog</p>
          </div>
          <div class="min-height"></div>
          <div class="min-height"></div>
          <div class="min-height"></div>
          <div class="min-height"></div>
          <div class="min-height"></div>
          <div class="min-height"></div>
          <div class="min-height"></div>
           <div class="min-height-huff"></div>
          <h2 class="title"><span>other</span></h2>
          <div class="others-detail">
            <p>CBX Micro Budz OZ <span>$220</span></p>
            <p>GLP Bakers 1/2<span>$60</span></p>
            <p>GLP Bakers OZ<span>$100</span></p>
            <p>GLP Popcorn 1/2<span>$100</span></p>
            <p>GLP Popcorn OZ<span>$190</span></p>
            <p>TF Micro 1/2<span>$90</span></p>
            <p>TF Micro OZ<span>$175</span></p>
          </div>
          <div class="min-height"></div>
          <div class="min-height"></div>
          <div class="min-height"></div>
          <div class="min-height"></div>
        </div> 



        <div class="premium-blog">

          <div class="title-top">
            <h2>premium shelf</h2>
            <div class="right">
              <p><span>1G</span>$18</p> 
              <p><span>1/8</span>$50</p> 
              <p><span>1/4</span>$90</p> 
              <p><span>1/2</span>$170</p> 
              <p><span>OZ</span>$320</p> 
            </div>
          </div>

          <div class="sativa-blog oreng">
            <h3 class="hedding ">SATIVA</h3>
            <div class="value-bottom">
              <p>Candyland</p>
              <p>L’Orange</p>
              <p>Diamond Dust</p>
              <p>Moscato7</p>
              <p>Orange Zeta</p>
              <p>Lemon Burst</p>
              <p>Tropicana</p>
              <p>Zeta</p>
            </div>
          </div>

          <div class="sativa-blog green">
            <h3 class="hedding ">HYBRID</h3>
            <div class="value-bottom">
              <p>Gorilla Glue #4</p>
              <p>Grape Stomper</p>
              <p>Face on Fire</p>
              <p>King Louis XIII</p>
              <p>Limelight OG</p>
              <p>Phoenix OG</p>
              <p>Sour Banana Sherbert</p>
              <p>XXXOG</p>
              <p>Virtue OG</p>
            </div>
          </div>

          <div class="sativa-blog violet">
            <h3 class="hedding ">INDICA</h3>
            <div class="value-bottom">
              <p>Black Diamond OG</p>
              <p>Black Afghan</p>
              <p>Blueberry</p>
              <p>Bubba Skywalker OG</p>
              <p>Bubblegump</p>
              <p>Concord Kush</p>
              <p>Diamond OG</p>
              <p>Kosher Kush</p>
              <p>Mendo Breath</p>
              <p>Platinum Cookies</p>
              <p>Snoop Master Kush</p>
              <p>White Walker OG</p>
              <p>WiFi OG</p>
            </div>
          </div>

           <div class="title-top">
            <h2>TOP SHELF</h2>
            <div class="right">
              <p><span>1G</span>$18</p> 
              <p><span>1/8</span>$50</p> 
              <p><span>1/4</span>$90</p> 
              <p><span>1/2</span>$170</p> 
              <p><span>OZ</span>$320</p> 
            </div>
          </div>

           <div class="sativa-blog oreng bottom-section">
            <h3 class="hedding ">SATIVA</h3>
            <div class="value-bottom">
              <p>Blue Dream</p>
              <p>Jack Kush</p>
              <p>Lemon Meringue #1</p>
              <p>MTF</p>
              <p>Pure Sunshine</p>
              <p>Sequioia Strawberry</p>
              <p>S’berry Banana Sherbert</p>
              <p>Triple Bohdi</p>
            </div>
          </div>

          <div class="sativa-blog green center-blog bottom-section">
            <h3 class="hedding ">HYBRID</h3>
            <div class="value-bottom">
              <p>Black Triangle</p>
              <p>Cookies</p>
              <p>Cookies ‘n Cream</p>
              <p>Glue on Fire</p>
              <p>Gorilla Glue #4</p>
              <p>Grateful Breath</p>
              <p>Jack Flash</p>
              <p>Key Lime Pie</p>
              <p>Mango Tango</p>
              <p>Mendo Cream #1</p>
              <p>Scott’s OG</p>
              <p>Space Ghost</p>
              <p>Tahoe Alien</p>
            </div>
          </div>

          <div class="sativa-blog violet right-blog bottom-section">
            <h3 class="hedding ">INDICA</h3>
            <div class="value-bottom">
              <p>9lb Hammer</p>
              <p>Blue Frost</p>
              <p>Banana Cream</p>
              <p>Black Afghan</p>
              <p>Blueberry</p>
              <p>Bubba Kush</p>
              <p>Bubblegum</p>
              <p>Herijuana</p>
              <p>LA Confidential</p>
              <p>LA OG</p>
              <p>Lavender</p>
              <p>Purple Cotton</p>
            </div>
          </div>

        </div>





        <div class="right-part left-part">
          <h2 class="title"><span>edibles</span></h2>
          <div class="others-detail">
            <p>Baby J’s<span>$14</span></p>
            <p>Body & Mind<span>$14</span></p>
            <p>Cannabiotix<span>$14</span></p>
            <p>Caviar Gold<span>$14</span></p>
            <p>Essence<span>$14</span></p>
            <p>KYND<span>$14</span></p>
            <p>Kiva<span>$14</span></p>
            <p>Ymmu Food<span>$14</span></p>
            <p>Caviar Gold<span>$14</span></p>
            <p>Essence<span>$14</span></p>
            <p>KYND<span>$14</span></p>
            <p>Kiva<span>$14</span></p>
            <p>Edible Name<span>$14</span></p>
            <p>Edible Name<span>$14</span></p>
          </div>
           <div class="min-height"></div>
          <h2 class="title"><span>cbd flower</span></h2>
          <div class="prige">
            <p><span>1G</span>$15</p>
            <p><span>1/8</span>$40</p>
            <p><span>1/4</span>$75</p>
            <p><span>1/2</span>$140</p>
            <p><span>OZ</span>$270</p>
          </div>
          <div class="value-bottom">
            <p>Harle Storm<span class="full">.71% thc     14.6% cbD</span></p>
            
            <p>Ringo’s Gift<span class="full">0.4%     9.7% cbd</span></p>
            
            <p>Fire Angel<span class="full">5.5% thc     8.7% cbd</span></p>

          </div>
          <div class="min-height"></div>
          <div class="min-height"></div>
           <div class="min-height-huff"></div>
        </div>
    </div>


  </body>
</html>
